@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Hardstyle Family!</h1>
    <p>We stay together, always.</a>.</p>
    <img class="custom_img" src="~/images/dj-4856147.jpg" /><br /><br />
    <p style="font-family:Original Surfer,cursive">
        To every owner of an orange heart<br />
        Know that nothing shall tear it apart<br />
        When the world will try to divide us<br />
        Then this music will reunite us<br /><br />

        May the heavens be praised with our sound<br />
        As we gather on holy ground<br />
        Where the doors are open wide<br />
        For the ones that have seen the light
    </p>
</div>
