@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<p>
    I love hardstyle. <br>
    You love hardstyle. <br>
    Everyone loves hardstyle. <br><br>

    The purpose of this website is to make a place to gather people that love hardstyle. A place where we can find all hardstyle content and a place to plan all our trips to hardstyle events.<br>
    Join the adventure!
    
</p>
